@import './reset.css';

:root {
--app-dark-bg: #1a1d28;
--app-light-bg: #f0f2f4;
--app-red: #ff3c57;
--app-green: #33ab4e;
--app-purple: #833cff;
--app-purple-hover: #5225a0;
--app-orange: #ff833c;
--app-orange-hover: #cc6123;
--app-blue: #3c57ff;
--app-blue-hover: #364ee6;
--app-gray: #3b3f51;
--app-gray-hover: #353848;

--app-header-height: 56px;

--app-border-radius: 4px;
}

.body {
  background-color:var(--app-dark-bg);
}

.container {
  width: min(100% - 30px, 1280px);
  margin-inline: auto;
}

p, button {
  color: #fff;
}

